.top-bar{
    padding: 1rem 0;
    background: rgb(4,206,238);
    background: linear-gradient(90deg, rgba(4,206,238,1) 39%, rgba(215,44,241,1) 100%);
}

/* socail list*/
.top-bar__social-list{
    display: flex;
    flex-flow: row nowrap;  
    align-items: center;
    padding: 0; 
    margin: 0;
    list-style-type: none;
   
    
}
.top-bar__social-list > li{
    margin-right: 2rem;
}
.top-bar__social-list > li > a{
    color: white;
}

/*link*/
.top-bar__link > a,
.top-bar__link > span{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';

}

.top-nav{
   
    
}

.row1{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.col1{
    flex:initial;
}
.top-nav__logo{
    
}

.col2{
    flex:auto;
    
}

.top-nav__menu{
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;
    float: right;
    padding: 0; 
    margin: 0;
    list-style-type: none;
    margin-right: 100px;
    
}   

.top-nav__menu>li{
    margin-right: 3rem;
    padding-top: 3rem;
}

.top-nav__menu>li>a{
    text-decoration: none;
    font-family: 'Roboto';
    list-style: none;
    line-height: 20px;
    font-size: 20px !important;
    text-align: center;
    color:gray;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.top-nav__menu>li>a:active{
    color: deeppink
}

.col3{
    flex:none;
}
.top-nav__search{
   
    background-color: deeppink;
    color: white;
    padding-left: 5px;
    width: 25px;
    margin-left: 35px;
    
}

.hero{
    background-image: url("Untitled.png");
    padding: 2rem 0;
}

h1{
    text-align: center;
    color:rgb(51, 51, 51);  
    font-family: 'Calibri';
}

b{
    background-color: white;
    padding: 0 7px;
}
main{
    margin: 0;
    padding-top: 3rem;
    box-sizing: border-box;
}

.men-shirt{
    padding-top: 2rem;
}
.men-shirt.h1{
    font-family: 'Opent Sans';
}


.row3{
    padding-top:2rem;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.h3-title{
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    line-height: 16px;
    overflow: hidden;
}

.wp-price{
    font-family: 'Roboto','Arial',sans-serif;
    color: #111;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
}

.ins{
    color: #f00;
    font-weight: 600;
    font-size: 20px;
}

.del{
    color: #999;
    text-decoration: line-through;
    font-size: 15px;
}
.men-jacket{
    padding-top: 2rem;
}
.men-jacket.h1{
    font-family: 'Opent Sans';
}
.row4{
    padding-top:2rem;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.men-T-Shirt{
    padding-top: 2rem;
}
.men-T-Shirt.h1{
    font-family: 'Opent Sans';
}

.row5{
    padding-top:2rem;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.app-footer{
    background: rgb(4,206,238);
    background: linear-gradient(90deg, rgba(4,206,238,1) 39%, rgba(215,44,241,1) 100%);
    padding-top: 4rem ;
    padding-bottom: 2rem;
    
}

.row6{
    display: flex;
}
.app-footer__logo{
    padding-left: 7rem;
}
.app-footer__social-list{
    display: flex;
    flex-flow: row nowrap;  
    align-items: center;
    padding-top: 2rem; 
    margin: 0;
    list-style-type: none;
   
    
}
.app-footer__social-list > li{
    margin-right: 2rem;
}
.app-footer__social-list > li > a{
    color: black;
}

.app-footer__menu{
    display: flex;
    flex-flow: row nowrap; 
    padding-left: 200px; 
    margin: 0;
    list-style-type: none;
   
    
}   

.app-footer__menu>li{
    margin-right: 3rem;
    width: 70px;
}

.app-footer__menu>li>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.app-footer__menu>li>a:active{
    color: deeppink
}

.app-footer__text{
    font-size: 15px; 
    font-style: italic;
    padding-top: 3rem;
    float: right
}